<%- include  partials/header.ejs %>


<%- include partials/main_nav.ejs %>


    <main class="container">
      <div class="p-5 mb-4 bg-light rounded-3 mx-auto">
      <div class="container-fluid py-5 mx-auto">
        <h1 class="display-5 fw-bold text-center">Welcome to the <%= title %> page!</h1>
        
      </div>
      </div>
    </main>


    <% if (title == "Home") { %>
      <% include partials/main_body.ejs %>
    <% } else if (title == "Contact Me"{ %>
            <% include partials/form.ejs %>
   <% } else { %>
            
   <% } %>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
